:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: 60em) {
    font-size: 50%;
  }

  @media only screen and (max-width: 48em) {
    font-size: 40%;
  }

  @media only screen and (max-width: 37.5em) {
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Karla', sans-serif;
  font-weight: 400; //700
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main {
  margin-top: 23rem;
  margin-bottom: 10rem;
}

@import './scss/header';
@import './scss/button';
@import './scss/about';
@import './scss/more';
@import './scss/footer';

//font-family: 'DM Serif Display', serif; 400
